.is-completed {
  text-decoration: line-through;
}

.todo-item-content {
  cursor: pointer;
  user-select: none;
}

.error-modal {
  width: 500px;
  height: 400px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px grey;
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
